@media (max-width: 1099px) {
  section {
    .skills {
      .skills-slider {
        max-width: 700px;
      }
      .swiper-pagination-2 {
        display: block;
      }
    }
  }
}
@media (max-width: 739px) {
  section {
    .skills {
      .skills-slider {
        max-width: 440px;
      }
    }
  }
}
@media (max-width: 499px) {
  section {
    .skills {
      .headline_1 {
        font-size: 19px;
      }
      .skills-slider {
        max-width: 200px;
      }
    }
  }
}