$header_bckg_c: #87509c;
$header_nav_bar_items_c: #ffffff;
$header_congratulatory_text_c:#f7f3ea;
$header_bckg_button_c: #eb7d4b;
$header_button_c: #fef6f3;
$header_button_shadow_c: #c86a40;

$congratulation_bckg_c: #87509c;
$congratulation_button_shadow_c : #c86a40;
$congratulation_button_hover_shadow_c : #0b063e;

$pagination_c: #2958b1;

$service_bckg_c: #17c2a4;
$service_headline_c: #ffffff;
$service_line_c: #000000;
$service_underline_c: #ffffff;
$service_cards_c: #ffffff;

$team_bckg_c: #e7f1f8;
$team_headline_c: #3c4761;
$team_line_c: #bdd1df;
$team_underline_c: #3c4761;
$team_cards_t_1_c: #27283d;
$team_cards_t_2_c: #30bae7;
$team_cards_t_3_c: #3c4761;

$skills_bckg_c: #ffffff;
$skills_headline_c: #3c4761;
$skills_line_c: #dfe8ed;
$skills_underline_c: #3c4761;
$skills_undercircle_text_c: #3c4761;
$skills_circle_text_c: #3c4761;

$portfolio_bckg_c: #ffdd99;
$portfolio_headline_c: #393939;
$portfolio_line_c: #e5c37f;
$portfolio_underline_c: #393939;
$portfolio_underimg_text_c: #393939;
$portfolio_bckg_button_c: #17c2a4;
$portfolio_button_c: #fef6f3;
$portfolio_button_shadow_c : #14a58c;
$portfolio_button_hover_shadow_c : #ddab16;

$about_us_bckg_c: #d74680;
$about_us_headline_c: #ffffff;
$about_us_line_c: #000000;
$about_us_underline_c: #ffffff;
$about_us_text_par_1: #ffffff;
$about_us_text_par_2: #ffffff;
$about_us_text_par_3: #ffdd99;

$contact_form_bckg_c: #3c5499;
$contact_form_headline_c: #ffffff;
$contact_form_line_c: #273a71;
$contact_form_underline_c: #ffffff;
$contact_form_input: #273a71;
$contact_form_placehold: #ffffff;
$contact_form_bckg_button_c: #30bae7;
$contact_form_button_c: #ffffff;
$contact_form_button_shadow_c : #299ec5;
$contact_form_button_hover_shadow_c : #1666dd;

$footer_bckg_c: #344b8e;
$footer_text_c: #ffffff;
$footer_hover_c: #30bae7;